<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<div class="card card-warning bg-navy" layout:fragment="content-body">
	<div class="card-header">
		<h3 class="card-title">Data Pendidikan</h3>
	</div>
	<!-- form start -->
	<div class="card-body bg-navy">
		<form role="form">
			<div class="form-group">
				<label for="idPendidikan">Id Pendidikan:</label> <input
					type="number" class="form-control" id="idPendidikan"
					name="id_pendidikan" placeholder="Masukan Id Pendidikan">
			</div>
			<fieldset id="jenjangpendidikan">
				<div class="form-group">
					<label for="jenjang">Jenjang:</label> <input type="text"
						class="form-control" id="jenjang" name="jenjang"
						placeholder="Masukan jenjang">
				</div>
				<div class="form-group">
					<label for="institusi">Institusi:</label> <input type="text"
						class="form-control" id="institusi" name="institusi"
						placeholder="Masukan institusi">
				</div>
				<div class="form-group">
					<label for="tahunMasuk">Tahun Masuk:</label> <input type="text"
						class="form-control" id="tahunMasuk" name="tahunMasuk"
						placeholder="Masukan tahun masuk">
				</div>
				<div class="form-group">
					<label for="tahunLulus">Tahun Lulus:</label> <input type="text"
						class="form-control" id="tahunLulus" name="tahunLulus"
						placeholder="Masukan tahun lulus">
				</div>
			</fieldset>
			<input type="button" value="Tambah jenjang pendidikan" class="add"
				id="add">
		</form>
	</div>
	<div class="card-footer" align="right">
		<button id="submitbutton" type="button"
			class="btn btn-primary success">Submit</button>
	</div>

	<!-- jQuery -->
	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.min.js"></script>
	<!-- Sweet Alert -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

	<script type="text/javascript">
	 $(document).ready(function(){
		 var max_fields = 10;
		 var wrapper = $("#jenjangpendidikan");
		 var add_button = $("#add");
		 var removeButton = $("#remove");
		 
		 var x = 1;
		 $(add_button).click(function(e){
			 e.preventDefault();
			 if (x < max_fields){
				 x++;
				var newfield = $(wrapper).append('<fieldset id="jenjangpendidikan">' +
						'<div class="form-group"><label for="jenjang">Jenjang:</label> <input type="text" class="form-control" id="jenjang" name="jenjang" placeholder="Masukan jenjang"></div>'
						+ '<div class="form-group"><label for="institusi">Institusi:</label> <input type="text" class="form-control" id="institusi" name="institusi" placeholder="Masukan institusi"></div>'
						+ '<div class="form-group"><label for="tahunMasuk">Tahun Masuk:</label> <input type="text" class="form-control" id="tahunMasuk" name="tahunMasuk" placeholder="Masukan tahun masuk"></div>'+
						'<div class="form-group"><label for="tahunLulus">Tahun Lulus:</label> <input type="text" class="form-control" id="tahunLulus" name="tahunLulus" placeholder="Masukan tahun lulus"></div></fieldset>')
			 }
			 
		 });
	 })
	</script>
	<script type="text/javascript">
		$('.success').click(function() {
			if($('#idPendidikan').val() == '' && $('#jenjang').val() == '' && $('#institusi').val() == '' && $('#tahunMasuk').val() == '' && $('#tahunLulus').val() == ''){
				Swal.fire({
					  icon: 'error',
					  title: 'Oops...',
					  text: 'Data tidak boleh kosong!'
					})
			}
			else if($('#idPendidikan').val() == ''){
				Swal.fire({
					  icon: 'error',
					  title: 'Oops...',
					  text: 'Harap masukan Id Pendidikan'
					})
			   } else if($('#jenjang').val() == ''){
				   Swal.fire({
						  icon: 'error',
						  title: 'Oops...',
						  text: 'Harap masukan jenjang pendidikan anda'
						})
			   } else if($('#institusi').val() == ''){
				   Swal.fire({
						  icon: 'error',
						  title: 'Oops...',
						  text: 'Harap masukan institusi anda'
						})
			   } else if($('#tahunMasuk').val() == ''){
				   Swal.fire({
						  icon: 'error',
						  title: 'Oops...',
						  text: 'Harap masukan tahun masuk jenjang pendidikan anda'
						})
			   } else if ($('#tahunLulus').val() == ''){
				   Swal.fire({
						  icon: 'error',
						  title: 'Oops...',
						  text: 'Harap masukan tahun lulus jenjang pendidikan anda'
						})
			   } else{
					const Toast = Swal.mixin({
						  toast: true,
						  position: 'top-end',
						  showConfirmButton: false,
						  timer: 3000,
						  timerProgressBar: true,
						  onOpen: (toast) => {
				    		toast.addEventListener('mouseenter', Swal.stopTimer)
				    		toast.addEventListener('mouseleave', Swal.resumeTimer)
				 		 }
					})
					Toast.fire({
				  	icon: 'success',
				  	title: 'Data berhasil masuk'
				})
			}
		})
	</script>
</div>
</html>