<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div class="row mb-2" layout:fragment="content-header">
	<div class="col-sm-6">
		<h1 class="m-0 text-dark">Jenjang Pendidikan</h1>
	</div>
</div>

<div class="row" layout:fragment="content-body">
	<div class="col-12">
		<div class="card">
			<div class="card-header bg-warning">
				<h3 class="card-title">ID Person</h3><br>
				<input class="col-10" type="text" id="idPerson" name="idPerson" placeholder="ID Person" required>
				<button class="float-right bg-navy" id="btn-tambah-biodata">Tambah</button>
			</div>
			<div class="card-body bg-gray">
				<table class="table table-striped table-bordered table-hover nowrap bg-white" id="tableBiodata" style="width:100%"></table>
				<button class="float-right bg-navy" id="btn-save-biodata">Save</button>
			<button class="float-right bg-danger text-bold" id="btn-cancel-biodata">Cancel</button>
			</div>
			
		</div>
	</div>
	
	<div class="modal fade" id="modal-biodata">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-warning">
					<h4 class="modal-title"> Form Jenjang Pendidikan</h4>
					<button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				
				<div class="modal-body bg-gray">
					<div class="card-header">
					</div>
					<form id="form-biodata" role="form">
						<input name="id" type="hidden"/>
						
						<!-- <div class="form-group">
							<label>Id Person</label>
							<input class="form-control" id="idPerson" name="idPerson" placeholder="id person" required type="text">
						</div> -->
						<fieldset class="fieldset">
						<div class="form-group">
							<label>Jenjang</label>
							<select class="form-control custom-select" id="jenjang" name="jenjang">
								<option value="">--PILIH JENJANG PENDIDIKAN--</option>
								<option value="SD">SD</option>
								<option value="SMP">SMP</option>
								<option value="SMA/SMK">SMA</option>
								<option value="S1">S1</option>
								<option value="S2">S2</option>
								<option value="S3">S3</option>
							</select>
							<!-- <input class="form-control" id="jenjang" name="jenjang" placeholder="jenjang" required type="text"> -->
						</div>
						
						<div class="form-group">
							<label>Institusi</label>
							<input class="form-control" id="institusi" name="institusi" placeholder="jenjang" required type="text">
						</div>
						
						<div class="form-group">
							<label>Tahun Masuk</label>
							<input class="form-control" id="tahunMasuk" name="tahunMasuk" placeholder="tahun masuk" required type="text">
						</div>
						
						<div class="form-group">
							<label>Tahun Lulus</label>
							<input class="form-control" id="tahunLulus" name="tahunLulus" placeholder="tahun lulus" required type="text">
						</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer justify-content-between bg-gray-dark">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                   <!--  <button class="btn btn-warning" id="btn-tambah-field" type="button">Tambah Field</button> -->
                    <button class="btn btn-primary" id="btn-submit-biodata" type="button">Submit</button>
                </div>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="add-scripts">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script th:src="@{/js/datapendidikan.js}"></script>

    <script>
    
    	/* tableBiodata.create(); */
       	var dataPen=[];
    	var newrow=-1;
	    $('#btn-tambah-biodata').click(function () {
    		formBiodata.resetform();
    		$('#modal-biodata').modal('show')
            
        });
		
	    $('#btn-tambah-field').click(function () {
            formBiodata.addField()
        })
	    
        $('#btn-submit-biodata').click(function () {
        	if (newrow < 0){
            	formBiodata.addData();
        	} else {
        		formBiodata.addDataBaru();
        	}
        	/* formBiodata.saveData(); */
        })
        
        $('#btn-cancel-biodata').click(function(){
	    	$('.table').remove();
	    })
        
        $('#btn-save-biodata').click(function () {
            formBiodata.saveForm();
            $('input[name=idPerson]').val(' ');
        })

    </script>
</th:block>

</html>