<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div class="row mb-2" layout:fragment="content-header">
	<div class="col-sm-6">
		<h1 class="m-0 text-dark" style="font-family:SFMono-Regular; font-size:30px">Data Person</h1>
	</div>
</div>

<div class="row" layout:fragment="content-body">
    <div class="col-12">
		<div class="card bg-gray">
			<div class="card-body table-responsive">
				<table class="table table-striped table-bordered table-hover nowrap bg-white" id="tableBiodata" style="width:100%">
				</table>
			</div>
		</div>
	</div>
</div>


<th:block layout:fragment="add-scripts">
    <script th:src="@{/js/getdata.js}"></script>
    <script>
    	tableBiodata.create();
		/* $("#cari").click(function(){
			formBiodata.getData($("#nik").val())
		}) */
    </script>
</th:block>

</html>


